body {
    text-align: center;
    font-family: cursive;
    padding-top: 650px;
    margin: 0;
}

#Welcome {
    overflow: hidden;
    opacity: 0.9;
    height: 800px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 30px;
    background: radial-gradient(circle, #33B3FF 0%, #AE98B5 100%);
    z-index: 5;
}

p {
    font-size: 16;
    font-family: cursive;
    font-weight: 500;
}

#photo {
    width: 250px;
    height: 220px;
    padding-top: 150px;
}

h1 {
    font-size: 24px;
}

.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    right: 70px;
    z-index: 19;
    cursor: pointer;
}

.link {
    color: saddlebrown;
    float: left;
    padding: 20;
    font-size: 20;
    font-family: "Gemunu libre"
}
